#forgotwhole {
  background-color: #0d1326;
  height: 6vh;
  -webkit-box-shadow: inset -1px -4px 11px -1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: inset -1px -4px 11px -1px rgba(0, 0, 0, 0.56);
  box-shadow: inset -1px -4px 11px -1px rgba(0, 0, 0, 0.56);
}
#forgotwhole1 {
  text-align: left;
  color: rgb(158, 158, 158);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
#forgotwhole1:hover {
  color: whitesmoke;
  transition: color 1s;
}
#containerb {
  text-align: center !important;
  font-family: "Roboto", sans-serif;
}
#Reset {
  margin-block-start: 100px;
  font-size: 40px;
  color: white;
}
#pageReset {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: white;
  color: #0984e3;
  margin: auto 30%;
  margin-block-start: 50px;
  border-radius: 5px;
  height: 50vh;
}
#headerone {
  display: grid;
  position: relative;
  top: 42px;
  margin-block-start: 12px;
}
#wordsu {
  margin-block-start: 60px;
  color: #818181;
}
#emailgg {
  width: 80%;
  height: 7vh;
  text-align: center;
  border: 1px solid #b1b1b1;
}
#sumbitnnn {
  background-color: #0984e3;
  color: white;
  margin-block-start: 50px;
}
